<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>816116650126-8lcp0v0ogti2p0g9uag8g7aidsqrd5p2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.816116650126-8lcp0v0ogti2p0g9uag8g7aidsqrd5p2</string>
	<key>API_KEY</key>
	<string>AIzaSyD7cfUAtrffqzkMNIfVSw-dUZW2sRlJ5LE</string>
	<key>GCM_SENDER_ID</key>
	<string>816116650126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoppingAppFlutter</string>
	<key>PROJECT_ID</key>
	<string>shopping-app-flutter-7062d</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-app-flutter-7062d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816116650126:ios:66a17c9d4728d19dfaf9df</string>
	<key>DATABASE_URL</key>
	<string>https://shopping-app-flutter-7062d-default-rtdb.firebaseio.com</string>
</dict>
</plist>